<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: lavender;
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-color: black;
  border-radius:15px;
  font-size: 24px;
text-align: center">
你好： {{ status }}
<form method="post" action="/student/login/">
    {% csrf_token %}
    <input type="text" name="id" placeholder="学号" style="font-size: 24px"/>{{ aa }}<br><br>
    <input type="text" name="username" placeholder="用户名:" style="font-size: 24px"/><br><br>
    <input type="password" name="password" placeholder="密  码:" style="font-size: 24px"/><br><br>
    <input class="tj" type="submit" value="登录"  style="font-size: 24px ;font-size: 24px; color: #1E88C7;width:200px; height:50px;background-color: lavender; border-radius:15px"/>
</form>
</body>
</html>