<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  style="background: lavender;
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-color: black;
  border-radius:15px;
  font-size: 24px;
text-align: center">
<h2>根据学号来修改学生基本信息</h2>
<form method="post" action="/student/update/">
    {% csrf_token %}
    学生学号：<input type="text" name="stu_id"style="font-size: 24px" placeholder={{ stu_id }}><br>
    学生姓名：<input type="text" name="stu_name" style="font-size: 24px" placeholder={{ stu_name }}><br>
    学生电话：<input type="text" name="stu_phone" style="font-size: 24px" placeholder={{ stu_phone }}><br>
    学生地址：<input type="text" name="stu_addr" style="font-size: 24px" placeholder={{ stu_addr }}><br>
    学生院系：<input type="text" name="stu_faculty" style="font-size: 24px" placeholder={{ stu_faculty }}><br>
    学生专业：<input type="text" name="stu_major" style="font-size: 24px" placeholder={{ stu_major }}><br>
    <input class="bc" type="submit" value="保存">
</form>
   {% if msg %}
       {{ msg }}
   {% endif %}
</body>
</html>